<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruleBtn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{208,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,308}}</string>
                <key>sourceSize</key>
                <string>{208,308}</string>
            </dict>
            <key>ruleBtn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,325}}</string>
                <key>sourceSize</key>
                <string>{225,325}</string>
            </dict>
            <key>ruleBtn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{208,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,308}}</string>
                <key>sourceSize</key>
                <string>{208,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knowledge.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5fc082a34b9c95e528a58b8bcd0445b$</string>
            <key>textureFileName</key>
            <string>knowledge.png</string>
        </dict>
    </dict>
</plist>
