<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>startBtn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{209,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,308}}</string>
                <key>sourceSize</key>
                <string>{209,308}</string>
            </dict>
            <key>startBtn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,326}}</string>
                <key>sourceSize</key>
                <string>{226,326}</string>
            </dict>
            <key>startBtn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{209,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,308}}</string>
                <key>sourceSize</key>
                <string>{209,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startGame.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a8256f0b007e681d3f91b1b27d75dd4$</string>
            <key>textureFileName</key>
            <string>startGame.png</string>
        </dict>
    </dict>
</plist>
